@import './mixin.scss';

.title-picture {
  padding-top: 67px;
  position: relative;

  @include nlgs{
    padding-bottom: $padding-desk;
  }

  @include nsm{
    padding-bottom: 18.2vw;
  }

  // .title-picture_after

  &_after {
    &::after{
      content: '';
      width: 100vw;
      height: 256px;
      display: block;
      position: absolute;
      transform: translate(-50%, 0%);
      left: 50%;
      bottom: -40px;
      background-color: $color-Grey-5-cool;

      @include nlgs{
        bottom: 360px;
      }

      @include nsm {
        height: 44.4vw;
        bottom: 8vw;
      }
    }
  }
  
  // .title-picture__container-box

  &__container-box {
    
  }
  
  // .title-picture__title-container

  &__title-container {
    width: 565px;
    margin: auto;
    margin-bottom: 164px;

    @include nlgs{
      position: relative;
      z-index: 1;
      width: 695px;
      margin-bottom: 32px;
    }

    @include nsm {
      width: 100%;
      margin-bottom: 8.9vw;
    }
  }

  // .title-picture__title-item

  &__title-item {
    margin-bottom: 16px;
    @include font-H1-phone;
    text-transform: uppercase;
    color: $color-Blue-1;
    text-align: center;
    
    @include nlgs{
      margin-bottom:16px; 
      @include font-H1
    }

    @include nsm {
      margin-bottom: 4.4vw;
      @include font-H1-phone;
    }
  }

  // .title-picture__subtitle

  &__subtitle {
    @include font-H3;
    color: $color-Text-Grey;
    text-align: center;
  }

  // .title-picture__img-container

  &__img-container {
    width: 77.3%;
    margin: auto;
    position: relative;
    z-index: 1;

    @include nlgs {
      width: 100%;
    }

    @include nsm {
      width: 100vw;
      left: -9vw;
    }
  }

  // .title-picture__img

  &__img {
    height: auto;
    width: 100%;
  }
}

.icons-list {
  padding-top: 71px;
  min-height: auto;

  @include nlgs{
    padding-top: 0;
  }

		// .icons-list__container-box

		&__container-box {
      display: flex;
      flex-wrap: wrap;
      row-gap: $padding-desk;
      justify-content: space-between;

      @include nsm {
        row-gap: 9vw;
      }
		}

		// .icons-list__list-item

		&__list-item {
      flex-basis: min-content;
      min-width: 20.6%;

      @include nlgs{
        min-width: 46%;
      }

      @include nsm {
        min-width: fit-content;
        width: 100%;
      }
		}

		// .icons-list__svg-container

		&__svg-container {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      @include nlgs{
        align-items: center;
        flex-direction: row;
        column-gap: 16px;
      }

      @include nsm {
        align-items: flex-start;
      }
		}

		// .icons-list__svg

		&__svg {
      width: $padding-desk;
      height: auto;
      fill: $color-Blue-1;
      flex-shrink: 0;

      @include nsm {
        width: $padding-mob;
      }
		}

		// .icons-list__svg-signature

		&__svg-signature {
      @include font-p;
      color: $color-Text-Grey;

      @include nsm {
        width: 69%;
      }

      // .icons-list__svg-signature_width-100

      &_width-100{
        @include nsm {
          width: 100%;
        }
      }
		}
}

.services-by-type {
  padding-top: 67px;

		// .services-by-type__container-box

		&__container-box {
		}

    // .services-by-type__title-container

    &__title-container {
      margin-bottom: 125px;

      @include nlgs{
        margin-bottom: 112px;
      }

      @include nsm {
        width: 100%;
        margin-bottom: 34.5vw;
      }
    }

    // .services-by-type__title-item

    &__title-item {
      @include font-H2;
      text-transform: uppercase;
      color: $color-Black-cool;
      
      @include nlgs{
        margin-bottom:16px; 
      }

      @include nsm {
        margin-bottom: 4.4vw;
        @include font-H2-phone;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }

		// .services-by-type__list-container

		&__list-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      column-gap: 360px;
      row-gap: 90px;

      @include nlgs{
        column-gap: 278px;
      }

      @include nsm {
        column-gap: 0;
        row-gap: 27vw;
      }

      // .services-by-type__list-container_before

      &_before {
        &::before{
          content: '';
          width: 1px;
          height: 100%;
          display: block;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 33%;
          top: 50%;
          background-color: $color-Grey-4-cool-logo-bg-alt;

          @include nlgs{
            bottom: 360px;
          }

          @include nsm {
            width: 100%;
            height: 0.3vw;
            left: 50%;
            top: 17%;
          }
        }
      }

      // .services-by-type__list-container_after

      &_after {
        &::after{
          content: '';
          width: 1px;
          height: 100%;
          display: block;
          position: absolute;
          transform: translate(-50%, -50%);
          right: 33%;
          top: 50%;
          background-color: $color-Grey-4-cool-logo-bg-alt;

          @include nlgs{
            bottom: 360px;
          }

          @include nsm {
            width: 100%;
            height: 0.3vw;
            right: -50%;
            top: 81%;
          }
          
        }
      }
		}

		// .services-by-type__list-item

		&__list-item {
      width: 33%;

      @include nmd{
        width: 30%;
      }

      @include nsm {
        width: 100%;
      }

      // .services-by-type__list-item_absolute

      &_absolute{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        @include nsm {
          position: relative;
          top: 0;
          left: 0;
          transform: none;
        }
      }

      // .services-by-type__list-item_relative
      
      &_relative{
        position: relative;
        top: -20px;

        @include nlgs{
          position: static;
          top: 0;
        }
      }

      // .services-by-type__list-item_before

      &_before {
        &::before{
          content: '';
          width: 100%;
          height: 1px;
          display: block;
          position: absolute;
          transform: translate(-100%, -50%);
          left: -1.5%;
          top: 50%;
          background-color: $color-Grey-4-cool-logo-bg-alt;

          @include nlgs{
            bottom: 360px;
          }

          @include nmd{
            left: -7%;
          }

          @include nsm {
            height: 0.3vw;
            top: -30%;
            left: 100%;
          }
        }
      }

      // .services-by-type__list-item_after

      &_after {
        &::after{
          content: '';
          width: 100%;
          height: 1px;
          display: block;
          position: absolute;
          transform: translate(100%, -50%);
          right: -1%;
          top: 50%;
          background-color: $color-Grey-4-cool-logo-bg-alt;

          @include nlgs{
            bottom: 360px;
          }

          @include nmd{
            right: -6%;
          }

          @include nsm {
            height: 0.3vw;
            right: 100%;
            top: auto;
            bottom: -25%;
          }
        }
      }

      &_order{

        // .services-by-type__list-item_order_1

        &_1{
          @include nsm {
            order: 1
          }
        }

        // .services-by-type__list-item_order_1

        &_1{
          @include nsm {
            order: 1
          }
        }

        // .services-by-type__list-item_order_2

        &_2{
          @include nsm {
            order: 2
          }
        }

        // .services-by-type__list-item_order_3

        &_3{
          @include nsm {
            order: 3
          }
        }

        // .services-by-type__list-item_order_4

        &_4{
          @include nsm {
            order: 4
          }
        }

        // .services-by-type__list-item_order_5

        &_5{
          @include nsm {
            order: 5
          }
        }
        
      }
		}

		// .services-by-type__img-container

		&__img-container {
		}

		// .services-by-type__img

		&__img {
      width: 62%;
      height: auto;
      display: block;
      margin: auto;
      margin-bottom: 20px;

      @include nlgs{
        width: 83%;
        margin-bottom: 16px;
      }

      @include nsm{
        width: 78%;
        margin-bottom: 4.4vw;
      }
		}

		// .services-by-type__img-signature

		&__img-signature {
      width: 87%;
      margin: auto;
      @include font-H3;
      color: $color-Grey-2-cool;
      text-align: center;

      @include nsm {

      }

      // .services-by-type__img-signature_width-80

      &_width-80{
        @include nlgs{
          width: 80%;
        }
      }
		}
}