$Ubuntu: "Ubuntu";
$color-Black-cool: #0F1113;

$color-Grey-1-cool: #36393C;
$color-Grey-2-cool: #364347;
$color-Grey-3-cool: #9AA0A8;
$color-Grey-4-cool-logo-bg-alt: #D7E1E7;
$color-Grey-5-cool: #EEF3F6;

$color-Blue-1: #285FAA;

$color-Text-Grey: #5D6878;

$color-Teal: #14A5C8;
$color-Unwhite: #FBFBFB;
$color-Error: #C71938;

$shadow: 0px 2px 4px rgba(40, 95, 170, 0.32);
$shadow-alt: 0px 12px 32px rgba(40, 95, 170, 0.16);

$margin-desk: 64px;
$margin-mob: 17.8vw;

$padding-desk: 64px;
$padding-mob: 17.8vw;







